* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1B1F24;
}
.company_name {
  font-family: "Nunito", sans-serif;
  font-size: 1.85rem;
  color: aliceblue;
  margin-left: 4px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1327px;
  width: 95%;
  margin: auto;
}

ul.nav-bar-content > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

ul.nav-bar-content > li {
  list-style: none;
}

ul.nav-bar-content {
  display: flex;
  justify-content: space-between;
}

.companyLogo > img {
    width: 35px;
}
.navigation_bar {
  width: 50%;
}

.companyLogo {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: #1B1F24;
  padding: 18px 0px;
  box-shadow: -1px 1px 8px 1px #101316;
}

button.get-started-path {
  padding: 12px 33px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.02em;
  outline: none;
  border-radius: 37px;
  border: none;
  background: #e7005e;
  color: #fff;
  transition: 0.4s;
}

section.home-content {
  background: radial-gradient(
        39.56% 48.29% at 20% 115.78%,
        #ff1675 0%,
        rgba(255, 22, 121, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        54.23% 74.52% at 69.72% -10.08%,
        #ff1675 0%,
        rgba(255, 22, 121, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        21.67% 31.7% at 39.72% 107.79%,
        rgba(74, 51, 209, 0.8) 0%,
        rgba(74, 51, 209, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        40.08% 51.33% at 85.83% 24.14%,
        rgba(74, 51, 209, 0.8) 0%,
        rgba(74, 51, 209, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #242145;
  padding-bottom: 50px;
  padding-top: 63px;
}
.left-lang-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.left-lang-content > .single-box {
  width: 250px;
  display: flex;
  justify-content: center;
  padding: 17px 35px;
  align-items: center;
  border: 2px solid #d7d7d74f;
  margin-bottom: 32px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.4s;
}

.home-container {
  max-width: 90%;
  padding: 13px 0px;
  background: #080b1263;
  border-radius: 18px;
  padding-bottom: 79px;
}
.single-box > img {
  width: 49px;
  margin-right: 6px;
}

.single-box > span {
  color: #fff;
  font-size: 25px;
}

.top-heading-text > h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 600;
}

.top-heading-text {
  padding-top: 44px;
  padding-bottom: 50px;
  text-align: center;
}

.top-heading-text > h2 {
  color: #fff;
  font-size: 59px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}

.top-heading-text > p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 12px;
}
.right-content {
  width: 43%;
  background: rgba(16 18 27 / 40%);
  border-radius: 10px;
  box-shadow: 0 8px 10px 2px rgba(28, 39, 54, 0.8);
  background: rgb(22 25 37);
  height: 390px;
}

.search-btn {
  width: 536px;
  margin: auto;
  text-align: center;
  margin-top: 64px;
}

.search-btn > h2 {
  color: #fff;
  font-size: 49px;
  margin-bottom: 6px;
  font-family: "Nunito", sans-serif;
}

.search-btn > input {
  padding: 15px 36px;
  font-size: 20px;
  border-radius: 42px;
  border: none;
  width: 100%;
  box-shadow: 0 8px 10px 2px rgba(28, 39, 54, 0.8);
}

.main-lang {
  display: flex;
  justify-content: space-around;
}

.single-companies > img {
  width: 250px;
}

.companies {
  display: flex;
  justify-content: space-around;
  padding-top: 66px;
  width: 95%;
  margin: auto;
}

footer {
  background: #151515;
  padding-top: 120px;
  color: #fff;
  padding-bottom: 80px;
  margin-top: 850px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: auto;
}

.company_logo > img {
  width: 34px;
}

.company_logo {
  display: flex;
  margin-bottom: 11px;
}

.company_logo > h2 {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  margin-left: 6px;
  letter-spacing: 0.03em;
}

.sec1 {
  width: 36%;
}

.sec2 {
  width: 19%;
}

.sec3 {
  width: 20%;
}

.sec4 {
  width: 12%;
}

.company_description_footer > p {
  font-size: 15px;
  width: 248px;
  line-height: 21px;
  color: #656565;
  margin-bottom: 10px;
}

.company_description_footer > a {
  text-decoration: none;
  color: black;
  margin-bottom: 27px;
  display: inline-block;
}

ul.links > li > a {
  text-decoration: none;
}

ul.links > li {
  list-style: none;
}

ul.links {
  display: flex;
  justify-content: space-between;
}

.social_links {
  width: 44%;
}

ul.links > li {
  width: 36px;
  height: 36px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid #767676;
}

ul.links > li > a > i {
  color: #000;
}

ul.links > li > a > i {
  font-size: 18px;
  transition: 1s;
  color: #b7b7b7;
}

ul.links > li:hover {
  background: #007bff;
}

ul.links > li:hover > a > i {
  color: #fff;
}

.company_description_footer > p {
  color: #ffffff;
  margin-top: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

.company_description_footer > a {
  color: #7d4add;
  margin-bottom: 37px;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: auto;
  border-bottom: 1px solid #302f2f;
  padding-bottom: 50px;
}
.sec2 > h3 {
  color: #3bbb96;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.sec2 > ul > li {
  list-style: none;
}

.sec2 > ul > li > a {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-size: 15px;
  letter-spacing: 0.04em;
}

.sec3 > h3 {
  color: #ed6b22;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.02em;
}

.sec3 > ul > li {
  list-style: none;
}

.sec3 > ul > li > a {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
}

.sec4 > h3 {
  color: #87d9fd;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.01em;
}

.sec4 > ul > li > a {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
}

.sec4 > ul > li {
  list-style: none;
}
.last-container-footer {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: auto;
  padding-top: 48px;
}

.left-sec {
  display: flex;
  justify-content: space-between;
  width: 42%;
  align-items: center;
}

.andoird-div > a {
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid #7933ff;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.andoird-div > a > i {
  margin-right: 5px;
}

.iOs-div > a > i {
  margin-right: 6px;
}

.andoird-div > a:hover {
  background: #7933ff;
}

.iOs-div > a:hover {
  background: #03ef62;
}

.iOs-div > a {
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid #03ef62;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.right-sec > p {
  font-size: 17px;
  color: #9b9b9b;
  letter-spacing: 0.01em;
}
.single-lang {
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0,0,0,.07), 0 15px 15px rgba(0,0,0,.06), 0 10px 8px rgba(0,0,0,.05), 0 4px 4px rgba(0,0,0,.04), 0 2px 2px rgba(0,0,0,.03);
  width: 164px;
    height: 148px;
  background: #24292f;
  transition: transform .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  margin-bottom: 44px;
  cursor: pointer;
}

.left-home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 49%;
}

.home-container-slide {
  width: 1603px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.single-lang > img {
  width: 66px;
}

.single-lang > p {
  color: #fff;
  margin-top: 16px;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.single-lang:hover {
  transform: translateY(-15px);
}
.home_TEXT > h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 55px;
  margin-top: 51px;
}

.home_TEXT {
  width: 1288px;
  margin: auto;
}

.code-snipet {
  width: 732px;
  height: 344px;
  background: #24292f;
  box-shadow: 4px 6px 1px 4px #0000002e;
}

.right-home {
  width: 44%;
}
.more-section-skills {
  margin-left: 161px;
  display: flex;
  justify-content: space-between;
  width: 482px;
  margin-top: 45px;
}

.single-box-learn-skill {
  background: #24292f;
  padding: 11px 31px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px #00000000, 0 30px 30px rgba(0,0,0,.07), 0 15px 15px rgba(0,0,0,.06), 0 10px 8px rgba(0,0,0,.05), 0 4px 4px rgba(0,0,0,.04), 0 2px 2px rgba(0,0,0,.03);
}

.single-box-learn-skill:first-child {
  color: #3bbb96;
}

.single-box-learn-skill:last-child {
  color: #7933ff;
}

.single-box-learn-skill:first-child:hover {
  border: 2px solid #3bbb96;
}

.single-box-learn-skill:last-child:hover {
  border: 2px solid #7933ff;
}

.top-bar {
  width: 100%;
  background: #161B22;
  /* padding: 10px 0px; */
}

.top-bar > span {
  padding: 7px 8px;
  cursor: pointer;
  /* margin-right: 15px; */
  margin-left: 9px;
  color: gray;
  display: inline-block;
}

.top-bar > span:first-child {border-bottom: 1px solid #fff;color: #fff;}
.search-bar {
  margin-top: 69px;
  text-align: center;
}

.search-bar > input {
  font-size: 21px;
  padding: 13px 28px;
  border-radius: 43px;
  outline: none;
  border: none;
  width: 550px;
}
h2.learn-code {
  font-size: 3.5rem;
  color: #fff;
}
